<!DOCTYPE html>
<html>
<head>
    <title>AZTEC - new</title>

    <script src="/public/js/jquery-2.1.4.js"></script>
    <script src="/public/js/bootstrap.min.js"></script>
    <link href="/public/css/bootstrap.min.css" rel="stylesheet">
    <link href="/public/css/info.css" rel="stylesheet">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link href="/public/css/sticky-footer.css" rel="stylesheet">
    <link href="/public/css/bd2k.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
    <script src="/public/viewmodels/resource/create-viewmodel.js"></script>
    <script src="/public/js/bd2k.js"></script>

    <script>

        BD2K.ready(function () {
            $('[data-toggle="popover"]').popover()
            var domains = <%-JSON.stringify(domains)%>;
            var types = <%-JSON.stringify(types)%>;
            var platforms = <%-JSON.stringify(platforms)%>;
            var fileTypes = <%-JSON.stringify(fileTypes)%>;
            var preset = <%- JSON.stringify(preset) %>;
            var email = "<%- email %>";
            new NewTool(types, domains, platforms, fileTypes, preset, email);
            $("#liRegister").addClass("active");
            $('body').on('click', function (e) {
                $('[data-toggle="popover"]').each(function () {
                    //the 'is' for buttons that trigger popups
                    //the 'has' for icons within a button that triggers a popup
                    if (!$(this).is(e.target) && $(this).has(e.target).length === 0 && $('.popover').has(e.target).length === 0) {
                        $(this).popover('hide');
                    }
                });
            });
        });
    </script>

</head>

<body style="font-family: 'Open Sans', sans-serif; background-image: linear-gradient(#99C0CC 0px, #BBD2DB 100%);">
<div class="row" style="padding-bottom: 4em">
<%- include ../shared/header.ejs %>
</div>

<h1 class="text-center" id="title"> Register New Resource </h1>
<br />
<div class="row" style="padding-bottom: 100px;">
    <div class="col-md-1">
    </div>
    <div class="col-md-6">
        <div class="text-left">
            <form action="/resource/add" method="GET" id="form">

                <table class="TFtable">
                    <tr><td align="left">Resource Name<i data-content="Name of the resource." style="float:right;font-size:20px;" class="pop fa fa-question-circle" data-toggle="popover" data-placement="top"></i></td><td style="width:100%"><input style="width:100%" type="text" id="name" value="" placeholder="e.g. Sailfish"></td></tr>
                    <tr><td align="left">Logo URL<i data-content="A link to the resource logo (optional)." style="float:right;font-size:20px" class="pop fa fa-question-circle" data-toggle="popover" data-placement="top"></i></td><td><input style="width:100%" type="text" id="logo" value="" placeholder="e.g. http://www.cs.cmu.edu/~ckingsf/software/sailfish/images/sailfish_logo.png"></td></tr>
                    <tr><td align="left">Description<i data-content="A brief description of the resource." style="float:right;font-size:20px" class="pop fa fa-question-circle" data-toggle="popover" data-placement="top"></i></td><td><textarea style="width:100%; vertical-align: top; resize:none" type="text" rows="6" id="description" value="" placeholder="e.g. Sailfish: Rapid Alignment-free Quantification of Isoform Abundance. RNA-seq expression estimates need not take longer than a cup of coffee"></textarea></td></tr>
                    <tr><td align="left">Source Code URL<i data-content="A link to the source code." style="float:right;font-size:20px" class="pop fa fa-question-circle" data-toggle="popover" data-placement="top"></i></td><td><input style="width:100%" type="text" id="sourceCodeURL" value="" placeholder="e.g. http://www.cs.cmu.edu/~ckingsf/software/sailfish/downloads.html"></td></tr>
                    <tr><td align="left">Primary Publication DOI<i data-content="DOI of the primary publication for this resource. It follows the format of doi:xx.xxxx/xxxxx." style="float:right;font-size:20px" class="pop fa fa-question-circle" data-toggle="popover" data-placement="top"></i></td><td><input style="width:100%" type="text" id="publicationDOI" value="" placeholder="e.g. doi:10.1038/nbt.2862"></td></tr>
                    <tr><td align="middle"><b>Other Publication DOIs</b></td><td></td></tr>
                    <tr><td>Publication DOI<i data-content="DOI of other publication (optional)" style="float:right;font-size:20px" class="pop fa fa-question-circle" data-toggle="popover" data-placement="top"></i></td><td><input style="width:70%" id="otherDOI" type="text" placeholder="e.g. doi:10.1038/nbt.2862"/><button style="width:25%;float:right" type="button" class="btn btn-primary btn-sm" id="otherDOIButton">Add</button></td></tr>
                    <tr><td align="left">Tool DOI<i data-content="If there is no publication for this resource, please provide the DOI for this resource (optional)." style="float:right;font-size:20px" class="pop fa fa-question-circle" data-toggle="popover" data-placement="top"></i></td><td><input style="width:100%" type="text" id="toolDOI" value="" placeholder="e.g. doi:10.1038/nbt.2862"></td></tr>
<<<<<<< HEAD
                    <tr><td align="left">Programming Languages<i data-content="The programming language used for resource implementation." style="float:right;font-size:20px" class="pop fa fa-question-circle" data-toggle="popover" data-placement="top"></i></td><td><input style="width:100%" type="text" id="language" value="" placeholder="e.g. C++"></td></tr>
=======
                    <tr><td align="left">Programming Languages<i data-content="Description" style="float:right;font-size:20px" class="pop fa fa-question-circle" data-toggle="popover" data-placement="top"></i></td><td><input style="width:100%" type="text" id="language" value="" placeholder="e.g. C++"></td></tr>
>>>>>>> aefdac2380fd884c15941b70698086208bdb91a4
                    <tr><td align="left">Latest Version Number<i data-content="Latest released version." style="float:right;font-size:20px" class="pop fa fa-question-circle" data-toggle="popover" data-placement="top"></i></td><td><input style="width:100%" type="text" id="versionNum" value="" placeholder="e.g. 0.7.3"></td></tr>
                    <tr><td align="left">Latest Version Release Date &nbsp;<i data-content="The date of latest release (option)." style="font-size:20px" class="pop fa fa-question-circle" data-toggle="popover" data-placement="top"></i></td><td><input style="width:100%" type="text" id="versionDate" value="" placeholder="e.g. September 3, 2015"></td></tr>
                    <tr><td align="left">Previous Version<i data-content="Previous version of this resource." style="float:right;font-size:20px" class="pop fa fa-question-circle" data-toggle="popover" data-placement="top"></i></td><td><input style="width:100%" type="text" id="prevVersion" value="" placeholder="e.g. 0.7.2"></td></tr>
                    <tr><td align="left">Next Version<i data-content="Next version of this resource." style="float:right;font-size:20px" class="pop fa fa-question-circle" data-toggle="popover" data-placement="top"></i></td><td><input style="width:100%" type="text" id="nextVersion" value="" placeholder="e.g. 0.7.4"></td></tr>
                    <tr><td align="middle"><b>Links</b></td><td></td></tr>
                    <tr><td align="left">Link Description<i data-content="Describe the type of any additional link." style="float:right;font-size:20px" class="pop fa fa-question-circle" data-toggle="popover" data-placement="top"></i></td><td><input style="width:70%" id="linkDesc" type="text" placeholder="e.g. Homepage"/></td></tr>
                    <tr><td align="left">Link URL<i data-content="URL of the additional link." style="float:right;font-size:20px" class="pop fa fa-question-circle" data-toggle="popover" data-placement="top"></i></td><td><input style="width:70%" id="linkURL" type="text" placeholder="e.g. http://www.cs.cmu.edu/~ckingsf/software/sailfish/"/><button style="width:25%;float:right" type="button" class="btn btn-primary btn-sm" id="linkButton">Add</button></td></tr>
                    <tr><td align="middle"><b>License</b></td><td></td></tr>
                    <tr><td align="left">License<i data-content="License of this resource." style="float:right;font-size:20px" class="pop fa fa-question-circle" data-toggle="popover" data-placement="top"></i></td><td><input style="width:70%" id="license" type="text" placeholder="e.g. GPLv3"/></td></tr>
                    <tr><td align="left">License URL<i data-content="URL of the license." style="float:right;font-size:20px" class="pop fa fa-question-circle" data-toggle="popover" data-placement="top"></i></td><td><input style="width:70%" id="licenseUrl" type="text" placeholder="e.g. http://www.gnu.org/licenses/gpl-3.0.en.html"/><button style="width:25%;float:right" type="button" class="btn btn-primary btn-sm" id="licenseButton">Add</button></td></tr>
                    <tr><td align="middle"><b>Resource Types</b></td><td></td></tr>
                    <tr><td>Resource Type<i data-content="Select one of the most relevant resource type from the drop-down list." style="float:right;font-size:20px" class="pop fa fa-question-circle" data-toggle="popover" data-placement="top"></i></td><td>
                            <select id="softwareType" style="width:70%;height:100%">
                                <option value="Tool">Tool</option>
                                <option value="Database">Database</option>
                                <option value="Widget">Widget</option>
                                <option value="Algorithm">Algorithm</option>
                                <option value="Tool Suite">Tool Suite</option>
                                <option value="Other">Other</option>
                            </select>
                            <button style="width:25%;float:right" type="button" class="btn btn-primary btn-sm" id="softwareTypeButton">Add</button></td></tr>
                    <tr><td align="middle"><b>Biological or Clinical Domains</b></td><td></td></tr>
                    <tr><td>Biological or Clinical  Domain<i data-content="Select one or more biological domains that are relevant to this resource." style="float:right;font-size:20px" class="pop fa fa-question-circle" data-toggle="popover" data-placement="top"></i></td><td>
                            <select id="domain" style="width:70%;height:100%">
                                <option value="Genomics">Genomics</option>
                                <option value="Proteomics">Proteomics</option>
                                <option value="Epigenomics">Epigenomics</option>
                                <option value="Metagenomics">Metagenomics</option>
                                <option value="Metabolomics">Metabolomics</option>
                                <option value="Systems Biology">Systems Biology</option>
                                <option value="Biomedical">Biomedical</option>
                            </select>
                            <button style="width:25%;float:right" type="button" class="btn btn-primary btn-sm" id="domainButton">Add</button></td></tr>
                    <tr><td align="middle"><b>Data Types</b></td><td></td></tr>
                    <tr><td>Data Types<i data-content="Select one or more data types that are relevant to this resource." style="float:right;font-size:20px" class="pop fa fa-question-circle" data-toggle="popover" data-placement="top"></i></td><td>
                            <select id="dataType" style="width:70%;height:100%">
                                <option value="Genomics">Genomics</option>
                                <option value="Imaging">Imaging</option>
                                <option value="Proteomics">Proteomics</option>
                                <option value="Epigenomics">Epigenomics</option>
                                <option value="Metagenomics">Metagenomics</option>
                                <option value="Metabolomics">Metabolomics</option>
                                <option value="Systems Biology">Systems Biology</option>
                                <option value="Biomedical">Biomedical</option>
                            </select>
                            <button style="width:25%;float:right" type="button" class="btn btn-primary btn-sm" id="dataTypeButton">Add</button></td></tr>
                    <tr><td align="middle"><b>Authors</b></td><td></td></tr>
                    <tr><td>Author Name<i data-content="Developer for this resource." style="float:right;font-size:20px" class="pop fa fa-question-circle" data-toggle="popover" data-placement="top"></i></td><td><input style="width:70%" id="authorName" type="text" placeholder="e.g. Carl Kingsford"/></td></tr>
                    <tr><td>Author Email<i data-content="Email address of the developer." style="float:right;font-size:20px" class="pop fa fa-question-circle" data-toggle="popover" data-placement="top"></i></td><td><input style="width:70%" id="authorEmail" type="text" placeholder="e.g. carlk@cs.cmu.edu"/><button style="width:25%;float:right" type="button" class="btn btn-primary btn-sm" id="authorButton">Add</button></td></tr>
                    <tr><td align="middle"><b>Institutes</b></td><td></td></tr>
                    <tr><td>Institute<i data-content="Author affiliation." style="float:right;font-size:20px" class="pop fa fa-question-circle" data-toggle="popover" data-placement="top"></i></td><td><input style="width:70%" id="institute" type="text" placeholder="e.g. Carnegie Mellon University"/><button style="width:25%;float:right" type="button" class="btn btn-primary btn-sm" id="instituteButton">Add</button></td></tr>
                    <tr><td align="middle"><b>Funders</b></td><td></td></tr>
                    <tr><td>Funder<i data-content="Fuding source for this resource." style="float:right;font-size:20px" class="pop fa fa-question-circle" data-toggle="popover" data-placement="top"></i></td><td><input style="width:70%" id="funding" type="text" placeholder="e.g. NSF CCF-1256087, CCF-1053918, EF-0849899"/><button style="width:25%;float:right" type="button" class="btn btn-primary btn-sm" id="fundingButton">Add</button></td></tr>
                    <tr><td align="middle"><b>Platforms</b></td><td></td></tr>
                    <tr><td>Platform<i data-content="Operating system tested for this resource." style="float:right;font-size:20px" class="pop fa fa-question-circle" data-toggle="popover" data-placement="top"></i></td><td><input style="width:70%" id="platform" type="text" placeholder="e.g. Linux (Unix)"/><button style="width:25%;float:right" type="button" class="btn btn-primary btn-sm" id="platformButton">Add</button></td></tr>
                    <tr><td align="middle"><b>Input File Types</b></td><td></td></tr>
                    <tr><td>Input File Type<i data-content="Input file format." style="float:right;font-size:20px" class="pop fa fa-question-circle" data-toggle="popover" data-placement="top"></i></td><td><input style="width:70%" id="inputType" type="text"/><button style="width:25%;float:right" type="button" class="btn btn-primary btn-sm" id="inputTypeButton">Add</button></td></tr>
                    <tr><td align="middle"><b>Output File Types</b></td><td></td></tr>
                    <tr><td>Output File Type<i data-content="Output file format." style="float:right;font-size:20px" class="pop fa fa-question-circle" data-toggle="popover" data-placement="top"></i></td><td><input style="width:70%" id="outputType" type="text"/><button style="width:25%;float:right" type="button" class="btn btn-primary btn-sm" id="outputTypeButton">Add</button></td></tr>
                    <tr><td align="middle"><b>Downstream Tools</b></td><td></td></tr>
                    <tr><td>Downstream Tool<i data-content="Downstream resource (optional)." style="float:right;font-size:20px" class="pop fa fa-question-circle" data-toggle="popover" data-placement="top"></i></td><td><input style="width:70%" id="downstream" type="text"/><button style="width:25%;float:right" type="button" class="btn btn-primary btn-sm" id="downstreamButton">Add</button></td></tr>
                    <tr><td align="middle"><b>Upstream Tools</b></td><td></td></tr>
                    <tr><td>Upstream Tool<i data-content="Upstream resource (optional)." style="float:right;font-size:20px" class="pop fa fa-question-circle" data-toggle="popover" data-placement="top"></i></td><td><input style="width:70%" id="upstream" type="text"/><button style="width:25%;float:right" type="button" class="btn btn-primary btn-sm" id="upstreamButton">Add</button></td></tr>
                    <tr><td align="middle"><b>Dependencies</b></td><td></td></tr>
                    <tr><td>Dependency<i data-content="Required packages for this resource." style="float:right;font-size:20px" class="pop fa fa-question-circle" data-toggle="popover" data-placement="top"></i></td><td><input style="width:70%" id="dependency" type="text"/><button style="width:25%;float:right" type="button" class="btn btn-primary btn-sm" id="dependencyButton">Add</button></td></tr>
                    <tr><td align="middle"><b>Tags</b></td><td></td></tr>
                    <tr><td>Tag<i data-content="Descriptive keywords to facilitate the search of this resource." style="float:right;font-size:20px" class="pop fa fa-question-circle" data-toggle="popover" data-placement="top"></i></td><td><input style="width:70%" id="tag" type="text" placeholder="e.g. RNA-seq"/><button style="width:25%;float:right" type="button" class="btn btn-primary btn-sm" id="tagButton">Add</button></td></tr>
                    <tr><td align="middle"><b>Maintainers</b></td><td></td></tr>
                    <tr><td>Maintainer<i data-content="The personnel who maintains the software." style="float:right;font-size:20px" class="pop fa fa-question-circle" data-toggle="popover" data-placement="top"></i></td><td><input style="width:70%" id="maintainer" type="text"/></td></tr>
                    <tr><td>Maintainer Email<i data-content="Contact email for the maintainer." style="float:right;font-size:20px" class="pop fa fa-question-circle" data-toggle="popover" data-placement="top"></i></td><td><input style="width:70%" id="maintainerEmail" type="text"/><button style="width:25%;float:right" type="button" class="btn btn-primary btn-sm" id="maintainerButton">Add</button></td></tr>
                    <tr><td colspan="2"><input class="" style="width:100%;" type="submit" value="Submit"></td></tr>
                </table>

                <input type="hidden" id="sendAddJson" name="input">

            </form>
        </div>
    </div>
    <div id="divPanels" class="col-md-4 text-left" style="padding:15px">
        <b>Other Publication DOIs</b>
        <div id="otherDOIs">
            <br>
        </div>
        <b>Links</b>
        <div id="links">
            <br>
        </div>
        <b>Licenses</b>
        <div id="licenses">
            <br>
        </div>
        <b>Types</b>
        <div id="softwareTypes">
            <br>
        </div>
        <b>Domains</b>
        <div id="domains">
            <br>
        </div>
        <b>Data Types</b>
        <div id="dataTypes">
            <br>
        </div>
        <b>Authors</b>
        <div id="authors">
            <br>
        </div>
        <b>Institutes</b>
        <div id="institutes">
            <br>
        </div>
        <b>Funders</b>
        <div id="fundings">
            <br>
        </div>
        <b>Platforms</b>
        <div id="platforms">
            <br>
        </div>
        <b>Input Types</b>
        <div id="inputTypes">
            <br>
        </div>
        <b>Output Types</b>
        <div id="outputTypes">
            <br>
        </div>
        <b>Downstreams</b>
        <div id="downstreams">
            <br>
        </div>
        <b>Upstreams</b>
        <div id="upstreams">
            <br>
        </div>
        <b>Dependencies</b>
        <div id="dependencies">
            <br>
        </div>
        <b>Tags</b>
        <div id="tags">
            <br>
        </div>
        <b>Maintainers</b>
        <div id="maintainers">
            <br>
        </div>
    </div>
</div>
<%- include ../shared/footer.ejs %>
</body>
</html>
