<!DOCTYPE html>
<html>
<head>
    <title>AZTEC Resources</title>
    <script src="/public/js/jquery-2.1.4.js"></script>
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">-->
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link href="/public/css/sticky-footer.css" rel="stylesheet">
    <link href="/public/css/bootstrap.css" rel="stylesheet">
    <link href="/public/css/info.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
    <link href="/public/css/cover.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <script src="/public/js/bootstrap.min.js"></script>
    <script src="/public/js/d3.js"></script>
    <script src="/public/js/bd2k.js"></script>
    <script src="/public/js/info.js"></script>
    <!--<script src="/public/viewmodels/resource/search-viewmodel.js"></script>-->
    <%- include ../shared/analytics.ejs%>

    <script>
        BD2K.ready(function () {
            var resource = <%-JSON.stringify(resource)%>;
            var neo4j = <%-JSON.stringify(neo4j)%>;

            new Info(resource, neo4j);
            $('[data-toggle="tooltip"]').tooltip();
            //var searchViewModel = new BD2K.Resource.SearchViewModel({});

            $('.tag button').click(function (eventObj) {
                var caller = $(this);
                var tag = caller.text().trim();

                var obj = {};
                var stringify = {};

                var searchFilters = {};
                searchFilters["tags"] = tag;

                stringify.sub = false;
                stringify.searchFilters = searchFilters;
                stringify.strict = {};
                stringify.page = 1;
                stringify.perPage = 10;
                obj.input = JSON.stringify(stringify);
                BD2K.request("/resource/search", obj, "GET");
            });
        });
    </script>
</head>
<body style="background-color:#FAFAFA; font-family: 'Open Sans', sans-serif;">
<div class="site-wrapper">

    <div class="site-wrapper-inner">
        <div class="cover-container">
            <%- include ../shared/header.ejs %>
        </div>

        <div class="row" style="background-image: linear-gradient(to bottom,#75bed7 0,#b0dae8 100%)">
            <div class="col-md-10" style="padding-left:50px">
                <div class="" id="dataset_upper_right" style="overflow:hidden">
                    <h3 style="color:white;"class="text-left">HOME>TOOL</h3>
                </div>
            </div>
        </div>

        <div class="row row-eq-height" style="background-color:#FFFFFF">
            <div class="col-md-1"></div>
            <div class="col-md-9" style="padding-left:20px">
                <div class="row">
                <div class="" id="dataset_upper_right" style="overflow:hidden;margin-right:20px; margin-left:20px">
                    <h3 id="name" class="text-left"></h3>
                </div>
                </div>
                <div class="row">
                    <div class="" id="dataset_upper_right" style="overflow:hidden;margin-right:20px; margin-left:20px">
                        <h4 id="tauthor" class="text-left"></h4>
                    </div>
                </div>
                <div class="row">
                    <div class="" id="dataset_upper_right" style="overflow:hidden;margin-right:20px; margin-left:20px">
                        <h4 id="tinstitutions" class="text-left underline" style="margin-bottom:20px"></h4>
                    </div>
                </div>
            </div>
            <div class="col-md-1" style="padding-left:20px">
                <div class="row" style="margin-top:25px;margin-bottom:10px">
                    <div class="" id="dataset_upper_right" style="overflow:hidden;margin-right:20px; margin-left:20px">
                        <a class="btn btn-info pull-right" href ="#" role ="botton">Free</a>
                    </div>
                </div>
                <div class="row" style="margin-top:10px;margin-bottom:10px">
                    <div class="" id="dataset_upper_right" style="overflow:hidden;margin-right:20px; margin-left:20px">
                        <a class="btn btn-warning pull-right" href ="#" role ="botton">No License</a>
                    </div>
                </div>
                <div class="row" style="margin-top:10px;margin-bottom:10px">
                    <div class="" id="dataset_upper_right" style="overflow:hidden;margin-right:20px; margin-left:20px">
                        <a class="btn btn-info pull-right" href ="#" role ="botton">Cite</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" style="background-color:#F5F5F5">
            <div class="col-md-1"></div>
            <div class="col-md-10" style="padding:20px">
                <div class="" id="dataset_upper_right" style="overflow:hidden;margin-right:20px; margin-left:20px;" align="left">
                    <div id="tdescription" style ="margin-bottom:10px"></div>
                    <div id="ttagsHtml"></div>
                </div>
            </div>
        </div>

        <div class="row" style="margin-left:20px; margin-right:20px">
            <div class="col-md-1"></div>
            <div class="col-md-10" style="padding:20px">
                <div class="" id="dataset_upper_right" style="overflow:hidden;margin-right:20px; margin-left:20px" align="left">
                    <h3 class="text-center">DETAILS</h3>
                </div>
            </div>
        </div>
        <div class="row row-eq-height" style="margin-left:20px; margin-right:20px">
            <div class="col-md-1"></div>
            <div class="col-md-5" style="background-color:#FFFFFF;padding:20px">
                <div class="" id="dataset_upper_right" style="overflow:hidden;margin-right:20px; margin-left:20px" align="left">
                    <h4 class="text-left">Software Type:</h4>
                    <div id="ttypes"></div>
                    <h4 class="text-left">Supported Platforms:</h4>
                    <div id="tplatforms"></div>
                    <h4 class="text-left">Tool Languages:</h4>
                    <div id="tlanguage"></div>
                </div>
            </div>
            <div class="col-md-5" style="background-color:#FFFFFF;padding:20px">
                <div class="" id="dataset_upper_right" style="overflow:hidden;margin-right:20px; margin-left:20px" align="left">
                    <h4 class="text-left">Source Code:</h4>
                    <div id="tsourcecode"></div>
                    <h4 class="text-left">Home Page URL:</h4>
                    <div id="thomepage_url"></div>
                    <h4 class="text-left">Institution:</h4>
                    <div id="tinstitutions_2"></div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-left:20px; margin-right:20px"></div>
        <div class="row" style="margin-left:20px; margin-right:20px">
            <div class="col-md-1"></div>
            <div class="col-md-10" style="padding:20px">
                <div class="" id="dataset_upper_right" style="overflow:hidden;margin-right:20px; margin-left:20px" align="left">
                    <h3 class="text-center">PUBLICATIONS</h3>
                </div>
            </div>
        </div>
        <div class="row" style="margin-left:20px; margin-right:20px">
            <div class="col-md-1"></div>
            <div class="col-md-10" style="background-color:#FFFFFF;padding:20px">
                <div class="" id="dataset_upper_right" style="overflow:hidden;margin-right:20px; margin-left:20px" align="left">
                    <h4 class="text-left">Title:</h4>
                    <p>Author</p>
                    <h4 class="text-left">Publications:</h4>
                    <div id ="tpublications"></div>
                </div>
            </div>
        </div>
        <div class="row fixed-row-height" style="margin-left:20px; margin-right:20px">
            <div class="col-md-1"></div>
            <div class="col-md-10" style="padding:20px">
                <div class="" id="dataset_upper_right" style="overflow:hidden;margin-right:20px; margin-left:20px" align="left">
                    <h3 class="text-center">CREDITS</h3>
                </div>
            </div>
        </div>
        <div class="row row-eq-height" style="margin-left:20px; margin-right:20px">
            <div class="col-md-1"></div>
            <div class="col-md-5" style="background-color:#FFFFFF;padding:20px">
                <div class="" id="dataset_upper_right" style="overflow:hidden;margin-right:20px; margin-left:20px" align="left">
                    <h4 class="text-left">Funding:</h4>
                    <div id="tfundings"></div>
                </div>
            </div>
            <div class="col-md-5" style="background-color:#FFFFFF;padding:20px">
                <div class="" id="dataset_upper_right" style="overflow:hidden;margin-right:20px; margin-left:20px" align="left">
                    <h4 class="text-left">Maintainers:</h4>
                    <div id="tmaintainers"></div>
                    <h4 class="text-left" >BD2K</h4>
                    <p style="padding-left:33px;margin-bottom:30px">HeartDB2K<br></p>
                </div>
            </div>
        </div>
    </div>

</div>

<%- include ../shared/footer.ejs %>
</body>
</html>
