<!DOCTYPE html>
<html>
<head>
    <title>AZTEC - tool</title>
    <script src="/public/js/jquery-2.1.4.js"></script>
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">-->
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link href="/public/css/sticky-footer.css" rel="stylesheet">
    <link href="/public/css/bootstrap.css" rel="stylesheet">
    <link href="/public/css/info.css" rel="stylesheet">

    <link href="/public/css/cover.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <script src="/public/js/bootstrap.min.js"></script>
    <script src="/public/js/d3.js"></script>
    <script src="/public/js/bd2k.js"></script>
    <script src="/public/js/info.js"></script>
    <!--<script src="/public/viewmodels/resource/search-viewmodel.js"></script>-->

    <script>
        BD2K.ready(function () {
            var resource = <%-JSON.stringify(resource)%>;
            var neo4j = <%-JSON.stringify(neo4j)%>;

            new Info(resource, neo4j);
            $('[data-toggle="tooltip"]').tooltip();
            //var searchViewModel = new BD2K.Resource.SearchViewModel({});

            $('.tag button').click(function (eventObj) {
                var caller = $(this);
                var tag = caller.text().trim();

                var obj = {};
                var stringify = {};

                var searchFilters = {};
                searchFilters["tags"] = tag;

                stringify.sub = false;
                stringify.searchFilters = searchFilters;
                stringify.strict = {};
                stringify.page = 1;
                stringify.perPage = 10;
                obj.input = JSON.stringify(stringify);
                BD2K.request("/resource/search", obj, "GET");
            });
        });
    </script>
</head>
<body style="background-image: linear-gradient(#99C0CC 0px, #BBD2DB 100%); font-family: 'Open Sans', sans-serif;">
    <div class="site-wrapper" style="margin-top:15px">

        <div class="site-wrapper-inner">
            <div class="cover-container">
                <%- include ../shared/header.ejs %>
            </div>

            <div class="row" style="margin-left:20px; margin-right:20px">
                <div class="col-md-1"></div>
                <div class="col-md-6" style="padding-left:20px">
                    <div class="" id="dataset_upper_right" style="overflow:hidden;margin-right:20px; margin-left:20px">
                        <h3 id="name" class="text-left"></h3>
                    </div>
                </div>
            </div>

            <div class="row" style="margin-left: 20px; margin-right: 20px">
                <div class="col-md-1"></div>
                <div class="col-md-6" style="padding:20px">
                    <div>
                        <div class="" id="dataset_upper_right" style="overflow:hidden;margin-right:20px; margin-left:20px" align="left">
                            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-4" style="padding:20px">
                    <div>
                        <div class="panel panel-default">
                            <div class="panel-heading" style="background-image: linear-gradient(to bottom,#d6ebf2 0,#BBD2DB 100%);">
                                <h3 class="panel-title"><b>Workflow Chart (Coming Soon)</b></h3>
                            </div>
                            <div class="panel-body">
                                <div id="workflowGraph">
                                    <%- svg %>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="panel panel-default">
                            <div class="panel-heading" style="background-image: linear-gradient(to bottom,#d6ebf2 0,#BBD2DB 100%);">
                                <h3 class="panel-title"><b>Reference Datasets (Coming Soon)</b></h3>
                            </div>
                            <div class="panel-body">
                                <div align="left">
                                    <p>
                                        <b>Example Input File: </b><a href="#" id="referenceDataset">Download Link</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="panel panel-default">
                            <div class="panel-heading" style="background-image: linear-gradient(to bottom,#d6ebf2 0,#BBD2DB 100%);">
                                <h3 class="panel-title"><b>Similar Resources (Coming Soon)</b></h3>
                            </div>
                            <div class="panel-body" style="border-top:solid; border-color:lightgray; border-width:2px">
                                <div class="row featurette" style="cursor: pointer;" onclick="window.location='/tool/show?id=5432'">
                                    <div class="col-md-6">
                                        <h3 class="featurette-heading">Sailfish<br></h3><!--<h4><span class="text-muted">Authors or some other important info</span></h4>-->
                                        <p class="lead" style="font-size:12px">Sailfish: Rapid Alignment-free Quantification of Isoform Abundance. RNA-seq expression estimates need not take longer than a cup of coffee</p>
                                    </div>
                                    <div class="col-md-6">
                                        <img style="width:100%;" src="http://www.cs.cmu.edu/~ckingsf/software/sailfish/images/sailfish_logo.png" alt="logo">
                                    </div>

                                </div>
                            </div>
                            <div class="panel-body" style="border-top:solid; border-color:lightgray; border-width:2px">
                                <div class="row featurette" style="cursor: pointer;" onclick="window.location='/tool/show?id=510'">
                                    <div class="col-md-6">
                                        <h3 class="featurette-heading">PDB<br></h3><!--<h4><span class="text-muted">Authors or some other important info</span></h4>-->
                                        <p class="lead" style="font-size:12px">RESTful interface to search and retrieve data from the Protein Data Bank (PDB). The Protein Data Bank is the single worldwide repository of information about the 3D structures of large biological molecules, including proteins and nucleic acids. </p>
                                    </div>
                                    <div class="col-md-6">
                                        <img style="padding-top:50px; width:100%;" src="http://www.wwpdb.org/img/core/rcsb-pdb.png" alt="logo">
                                    </div>

                                </div>
                            </div>
                            <div class="panel-body" style="border-top:solid; border-color:lightgray; border-width:2px">
                                <div class="row featurette" style="cursor: pointer;" onclick="window.location='/tool/show?id=4798'">
                                    <div class="col-md-6">
                                        <h3 class="featurette-heading">Proteowizard<br></h3><!--<h4><span class="text-muted">Authors or some other important info</span></h4>-->
                                        <p class="lead" style="font-size:12px">The ProteoWizard Library and Tools are a set of modular and extensible open-source, cross-platform tools and software libraries that facilitate proteomics data analysis.</p>
                                    </div>
                                    <div class="col-md-6">
                                        <img style="width:100%;" src="http://proteowizard.sourceforge.net/images/pwiz_purple_logo.png" alt="logo">
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include ../shared/footer.ejs %>
</body>
</html>