<!DOCTYPE html>
<html>
<head>
    <title>AZTEC Resources</title>
    <script src="/public/js/jquery-2.1.4.js"></script>
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">-->
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link href="/public/css/sticky-footer.css" rel="stylesheet">
    <link href="/public/css/bootstrap.css" rel="stylesheet">
    <link href="/public/css/info.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
    <link href="/public/css/cover.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <script src="/public/js/bootstrap.min.js"></script>
    <script src="/public/js/d3.js"></script>
    <script src="/public/js/bd2k.js"></script>
    <script src="/public/js/info.js"></script>
    <!--<script src="/public/viewmodels/resource/search-viewmodel.js"></script>-->
    <%- include ../shared/analytics.ejs%>

    <script>
        BD2K.ready(function () {
            var resource = <%-JSON.stringify(resource)%>;
            var neo4j = <%-JSON.stringify(neo4j)%>;

            new Info(resource, neo4j);
            $('[data-toggle="tooltip"]').tooltip();
            //var searchViewModel = new BD2K.Resource.SearchViewModel({});

            $('.tag button').click(function (eventObj) {
                var caller = $(this);
                var tag = caller.text().trim();

                var obj = {};
                var stringify = {};

                var searchFilters = {};
                searchFilters["tags"] = tag;

                stringify.sub = false;
                stringify.searchFilters = searchFilters;
                stringify.strict = {};
                stringify.page = 1;
                stringify.perPage = 10;
                obj.input = JSON.stringify(stringify);
                BD2K.request("/resource/search", obj, "GET");
            });
        });
    </script>
</head>
<body style="background-color:#FAFAFA; font-family: 'Open Sans', sans-serif;">
<div class="site-wrapper">

    <div class="site-wrapper-inner">
        <div class="cover-container">
            <%- include ../shared/header.ejs %>
        </div>

        <div class="row" style="margin-top:-20px;background-image: linear-gradient(to bottom,#9FC3CF 0,#BAD2DB 100%)">
            <div class="col-md-10" style="padding-left:50px">
                <div class="" style="overflow:hidden">
                    <h4 style="color:white;padding-top: 10px;padding-bottom: 10px"class="text-left"><a href="/home/index" style="color:white">HOME</a>
                        > TOOLS</h4>
                </div>
            </div>
        </div>

        <div class="row row-eq-height" style="background-color:#FFFFFF">
            <div class="col-md-1"></div>
            <div class="col-md-6" style="padding-left:20px">
                <div class="row">
                <div class="" style="overflow:hidden;margin-right:20px; margin-left:20px">
                    <h3 id="name" class="text-left"></h3>
                </div>
                </div>
                <div class="row">
                    <div class="" style="overflow:hidden;margin-right:20px; margin-left:20px">
                        <div id="tauthor" class="text-left" style="margin-bottom:20px"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="" style="overflow:hidden;margin-right:20px; margin-left:20px">
                        <div id="tinstitutions" class="text-left underline" style="margin-bottom:20px"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-4" >
                <div class="row" style="margin-top:25px;margin-bottom:10px">
                    <div class ="text-center pull-right" style="color: #ffffff;background-color:#5d7e89;overflow:hidden;height:30px;margin-right:20px; margin-left:20px">
                        <div style="line-height: 30px;vertical-align: middle;padding-left:30px;padding-right:30px">Free</div>
                    </div>
                </div>
                <div class="row" style="margin-top:10px;margin-bottom:10px">
                    <div class ="text-center pull-right" style="color: #000000;background-color:#FFE2C6;overflow:hidden;height:30px;margin-right:20px; margin-left:20px">
                        <div style="line-height:30px;vertical-align:middle;padding-left:30px;padding-right:30px" id ="tlicense"></div>
                    </div>
                </div>
                <div class="row" style="margin-top:10px;margin-bottom:10px">
                    <div class="" style="overflow:hidden;margin-right:20px; margin-left:20px">
                        <a id = "citation" class="btn btn-info pull-right" style="padding-left:30px;padding-right:30px;border-radius:0px" href="#" role ="botton">Cite</a>
                    </div>
                </div>
            </div>
        </div>


        <div class="row" style="background-color:#F5F5F5">
            <div class="col-md-1"></div>
            <div class="col-md-10" style="padding:20px">
                <div class="" style="overflow:hidden;" align="left">
                    <div id="tdescription" style="margin-bottom:10px;font-size:115%"></div>
                    <div id="ttagsHtml"></div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-bottom:20px">
        <div class="row" style="margin:20px">
            <div class="col-md-1"></div>
            <div class="col-md-10" style="padding:20px">
                <div class="" style="overflow:hidden;margin-right:20px; margin-left:20px" align="left">
                    <h3 class="text-center">DETAILS</h3>
                </div>
            </div>
        </div>
        <div class="row row-eq-height" style="margin-left:20px; margin-right:20px">
            <div class="col-md-1"></div>
            <div class="col-md-5" style="background-color:#FFFFFF;padding:20px">
                <div class="" style="overflow:hidden;margin-right:20px; margin-left:20px" align="left">
                    <h4 class="text-left" style="font-weight:bold">Software Type:</h4>
                    <div id="ttypes"></div>
                    <h4 class="text-left" style="font-weight:bold">Supported Platforms:</h4>
                    <div id="tplatforms"></div>
                    <h4 class="text-left" style="font-weight:bold">Tool Languages:</h4>
                    <div id="tlanguage"></div>
                </div>
            </div>
            <div class="col-md-5" style="background-color:#FFFFFF;padding:20px">
                <div class="" style="overflow-wrap: break-word; margin-right:20px;margin-left:20px" align="left">
                    <h4 class="text-left" style="font-weight:bold">Source Code:</h4>
                    <div id="tsourcecode"></div>
                    <h4 class="text-left" style="font-weight:bold">Home Page URL:</h4>
                    <div id="thomepage_url"></div>
                    <h4 class="text-left" style="font-weight:bold">Institution:</h4>
                    <div id="tinstitutions_2"></div>
                </div>
            </div>
        </div>


        <div class="row" style="margin:20px">
            <div class="col-md-1"></div>
            <div class="col-md-10" style="padding:20px">
                <div class="" style="overflow:hidden;margin-right:20px; margin-left:20px" align="left">
                    <h3 class="text-center" id = "pubtitle"></h3>
                </div>
            </div>
        </div>
        <div class="row" style="margin-left:20px; margin-right:20px">
            <div id = "publicationinfo"></div>
            <!--<div class="col-md-1"></div>-->
            <!--<div class="col-md-10" style="background-color:#FFFFFF;padding:20px">-->
                <!--<div class="" style="overflow:hidden;margin-right:20px; margin-left:20px" align="left">-->
                    <!--<div id = "publicationinfo"></div>-->
                    <!--&lt;!&ndash;<h4 class="text-left" style="font-weight:bold">Publications:</h4>&ndash;&gt;-->
                    <!--&lt;!&ndash;<div id ="tpublications"></div>&ndash;&gt;-->
                <!--</div>-->
            <!--</div>-->
        </div>


        <div class="row" style="margin: 20px">
            <div class="col-md-1"></div>
            <div class="col-md-10" style="padding:20px">
                <div class="" style="overflow:hidden;margin-right:20px; margin-left:20px" align="left">
                    <h3 class="text-center">CREDITS</h3>
                </div>
            </div>
        </div>
        <div class="row row-eq-height" style="margin-left:20px; margin-right:20px;margin-bottom: 40px">
            <div class="col-md-1"></div>
            <div class="col-md-5" style="background-color:#FFFFFF;padding:20px">
                <div class="" style="overflow:hidden;margin-right:20px; margin-left:20px" align="left">
                    <h4 class="text-left" style="font-weight:bold">Funding:</h4>
                    <div id="tfundings"></div>
                </div>
            </div>
            <div class="col-md-5" style="background-color:#FFFFFF;padding:20px">
                <div class="" style="overflow:hidden;margin-right:20px; margin-left:20px" align="left">
                    <h4 class="text-left" style="font-weight:bold">Maintainers:</h4>
                    <div id="tmaintainers"></div>
                    <h4 class="text-left" style="font-weight:bold">BD2K</h4>
                    <p style="padding-left:33px;margin-bottom:30px">HeartDB2K<br></p>
                </div>
            </div>
        </div>
    </div>
    </div>
    <!-- The Modal -->
    <div id="citationAPA" class="modal">
        <div class="modal-content">
            <span id = "close1" class="close">×</span>
            <p id="citationAPAinfo"></p>
            <a id = 'bibtex' href='#'>Bibtex</a>
        </div>
    </div>
    <!--end-->
    <!-- The Modal -->
    <div id="citationBibTex" class="modal">
        <div class="modal-content">
            <span id = "close2" class="close">×</span>
            <p id="citationBibinfo"></p>
            <!--<a id = "bibtex" href = "#citationBibinfo">BibTex</a>-->
        </div>
    </div>

</div>

<%- include ../shared/footer.ejs %>
</body>
</html>
