<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
    <title>Profile</title>
    <link href="/public/css/bd2k.css" rel="stylesheet">

    <link href="/public/css/info.css" rel="stylesheet">
    <link href="//cdn.datatables.net/1.10.10/css/jquery.dataTables.min.css" rel="stylesheet">
    <%- include ../shared/scripts.ejs%>
    <script src="//cdn.datatables.net/1.10.10/js/jquery.dataTables.min.js"></script>
    <script>
      var submittedTable;
      var savedTable;
      $(document).ready(function() {
        submittedTable = $('#mySubmittedTools').DataTable({
          ajax: {
                  url: '/review/api/mytools',
                  dataSrc: ""
                },
          columnDefs: [ {
                   searchable: false,
                   orderable: false,
                   targets: 0
               } ],
          columns : [
            { width: "10%",
              data : null,
              defaultContent: "<button class='btn btn-info'>Click to edit</button>" },
            { width: "10%",
              data : 'AZID'},
            { width: "20%",
            data : 'NAME'},
            { width: "50%",
            data : 'DESCRIPTION'},
            { width: "10%",
              data : 'SUBMIT_DATE'}
          ]
        });

        savedTable = $('#mySavedTable').DataTable({
          ajax: {
                  url: '/review/api/saved',
                  dataSrc: ""
                },
          columnDefs: [ {
                   searchable: false,
                   orderable: false,
                   targets: 0
               } ],
          columns : [{
            width: "10%",
              data: null,
              defaultContent: "<button class='btn btn-info'>Click to edit</button>"
            },
            { width: "10%",
              data: 'id'
            },
            { width: "20%",
            data : 'name'},
            { width: "50%",
            data : 'description'},
            { width: "10%",
              data : 'date'}
          ]
        });

        $('#mySavedTable tbody').on( 'click', 'button', function () {
          var tr = $(this).closest('tr');
          var idx = submittedTable.page.info().start+tr.index(0);
          var data = submittedTable.row(idx).data();
          window.open('/review/saved/'+data['id']);
        } );

        $('#mySubmittedTools tbody').on( 'click', 'button', function () {
          var tr = $(this).closest('tr');
          var idx = submittedTable.page.info().start+tr.index(0);
          var data = submittedTable.row(idx).data();
          window.open('/review/update/'+data['AZID']);
        } );



      });
    </script>




    <style>
        html{
            min-height:100%;/* make sure it is at least as tall as the viewport */
            position:relative;
        }
        body{
            height:100%; /* force the BODY element to match the height of the HTML element */
            word-wrap:break-word;
        }
        #back-container{

            top:0;
            bottom:0;
            left:0;
            right:0;
            z-index:-1; /* Remove this line if it's not going to be a background! */
        }
        .vertical-align {
            display: flex;
            align-items: center;
        }
    </style>
</head>
<body style="font-family: 'Open Sans', sans-serif;">
<%- include ../shared/header.ejs %>
<div id="container" style="background-image: linear-gradient(#99C0CC 0px, #BBD2DB 100%);">
    <div class="container" style="padding: 80px; background-image: linear-gradient(#99C0CC 0px, #BBD2DB 100%);">
        <div class="page-header text-center">
            <h1><span class="fa fa-anchor"></span> Profile Page</h1>

            <% if (message.length > 0) { %>
            <div class="alert alert-success"><%= message %></div>
            <% } %>

            <div class="row text-left">

                <!-- LOCAL INFORMATION -->
                <div class="col-sm-12">
                    <div class="well">
                        <h3><span class="fa fa-user"></span> Profile Information</h3>

                        <p>
                            <strong>Email</strong>: <%= user.email %><br>
                            <strong>First Name</strong>: <%= user.firstName %><br>
                            <strong>Last Name</strong>: <%= user.lastName %>
                        </p>

                    </div>
                </div>
            </div>
            <a href="/home/password" class="btn btn-default btn-sm">Change Password</a>
            <a href="/home/logout" class="btn btn-default btn-sm">Logout</a>
        </div>

        <div class="row">
          <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#submitted">My Submitted Tools</a></li>
            <li><a data-toggle="tab" href="#saved">My Saved Tools</a></li>
          </ul>
          <div class='tab-content'>
            <div id='submitted' class='tab-pane fade in active'>
              <center><h1>My Submitted Tools</h1></center>
              <table id="mySubmittedTools" class="table hover table-bordered" cellspacing="0" width="100%">
                <thead>
                  <tr>
                      <th>EDIT</th>
                      <th>ID</th>
                      <th>NAME</th>
                      <th>DESCRIPTION</th>
                      <th>DATE</th>
                  </tr>
              </thead>

              </table>
            </div>
            <div id='saved' class='tab-pane fade'>
              <center><h1>My Saved Tools</h1></center>
              <table id="mySavedTable" class="table hover table-bordered" cellspacing="0" width="100%">
                <thead>
                  <tr>
                      <th>EDIT</th>
                      <th>ID</th>
                      <th>NAME</th>
                      <th>DESCRIPTION</th>
                      <th>DATE</th>
                  </tr>
              </thead>

              </table>
            </div>
          </div>
        </div>
    </div>
    <%- include ../shared/footer.ejs %>
</div>
</body>
</html>
