<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
    <style>
        html{
            min-height:100%;/* make sure it is at least as tall as the viewport */
            position:relative;
        }
        body{
            height:100%; /* force the BODY element to match the height of the HTML element */
            padding-top:80px;
            word-wrap:break-word;
        }
        #back-container{
            position:absolute;
            top:0;
            bottom:0;
            left:0;
            right:0;
            overflow:hidden;
            z-index:-1; /* Remove this line if it's not going to be a background! */
        }
    </style>
</head>
<body style="font-family: 'Open Sans', sans-serif;">
<%- include ../shared/header.ejs %>
<div id="back-container" style="background-image: linear-gradient(#99C0CC 0px, #BBD2DB 100%);">
    <div class="container" style="padding: 80px">
        <div class="page-header text-center">
            <h1><span class="fa fa-anchor"></span> Profile Page</h1>
            <a href="/home/password" class="btn btn-default btn-sm">Change Password</a>
            <a href="/home/logout" class="btn btn-default btn-sm">Logout</a>
        </div>

        <% if (message.length > 0) { %>
        <div class="alert alert-success"><%= message %></div>
        <% } %>
        <div class="row">

            <!-- LOCAL INFORMATION -->
            <div class="col-sm-6">
                <div class="well">
                    <h3><span class="fa fa-user"></span> Profile Information</h3>

                    <p>
                        <strong>email</strong>: <%= user.email %><br>
                        <strong>firstName</strong>: <%= user.firstName %><br>
                        <strong>lastName</strong>: <%= user.lastName %>
                    </p>

                </div>
            </div>

            <div class="col-sm-6">
                <div class="well">
                    <h3><span class="fa fa-object-group"></span> User Created Resources</h3>

                    <% for(var i = 0; i < resources.length; i ++) { %>
                    <p>
                        <%= resources[i].name %>:
                        <a href="/tool/show?id=<%= resources[i].id %>" class="btn btn-info" role="button">View Resource</a>
                        <a href="/tool/edit?id=<%= resources[i].id %>" class="btn btn-info" role="button">Edit Resource</a>
                    </p>
                    <% } %>

                </div>
            </div>

        </div>
    </div>
</div>
</body>
</html>